@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="跟团游" />
    <meta name="keywords" content="跟团游" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="跟团游" />
    <meta name="appBaseUrl" content="@Url.Content("~/")" />
    <meta name="restfullApi" content="@ConfigurationManager.AppSettings["restfullApi"]" />
    <title>跟团游</title>
    @*<link rel="canonical" href="@Helper.CanonicalUrl()" />*@
    <link rel="apple-touch-startup-image" href="http://pic.c-ctrip.com/h5/common/640.png" sizes="320x460">
    <link rel="apple-touch-startup-image" href="http://pic.c-ctrip.com/h5/common/940.png" sizes="640x920">
    <link rel="apple-touch-startup-image" href="http://pic.c-ctrip.com/h5/common/1004.png" sizes="768x1004">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://pic.c-ctrip.com/h5/common/57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://pic.c-ctrip.com/h5/common/72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://pic.c-ctrip.com/h5/common/114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://pic.c-ctrip.com/h5/common/144.png" />
    <link rel="stylesheet" type="text/css" href="http://webresource.c-ctrip.com/styles/h5/common/main.css" />

</head>
<body>
    <div id="headerview">
     
    </div>

    <div id="main">
        <div class="main-frame">
            <div class="main-viewport"></div>
            <div class="main-state"></div>
        </div>
    </div>

    <div id="footer">
       
    </div>


    @RenderBody()
    <input type="hidden" id="page_id" value="wait" />
    <span id="tour_phone" class="__conttel__" style="display:none">400 008 6666</span>
    <script src="http://webresource.c-ctrip.com/code/lizard/2.1/web/lizard.seed.js" lizardconfig="isViewFinishedLoadInitApp:true,isHideAllLoading:true,isHideByOut:true"></script>
    <script>
	(function(){
		//槽位
		var slot = 'R2';
		var theTourLocalStorage = window.localStorage;
		var packge_version=0;
		var tour_version=1;
		var userAgent = window.navigator.userAgent.toLowerCase();
		var isInApp=!!window.LizardLocalroute;
		if(theTourLocalStorage && theTourLocalStorage.getItem('TOUR-APPVER-STORE')){
		 	tour_version=parseInt(theTourLocalStorage.getItem('TOUR-APPVER-STORE'));
		}
		if(packge_version>tour_version){
		 	tour_version= packge_version;
		}
		window.tour_version = tour_version;
		//防止在微信等应用里误认为在app里
		try{
		 if (!/ctrip/.test(userAgent) && theTourLocalStorage) {theTourLocalStorage.setItem('ISINAPP', '0');}
		}catch(e){
		 //console.log(e)
		}
		//环境判断

		if(isInApp){
			var tourPre = parseInt(theTourLocalStorage && theTourLocalStorage.getItem('isPreProduction'),10);
			var evn = isNaN(tourPre) || [0, 1, 2].indexOf(tourPre) < 0 ? 3 : tourPre;
			Lizard.tourAppBaseUrl = 'http://'+['webresource.fws.qa.nt.ctripcorp.com','webresource.c-ctrip.com','webresource.uat.qa.nt.ctripcorp.com','webresource.c-ctrip.com'][evn]+'/resh5tourapponline/'+slot+'/';
		}else{
			if(location.href.indexOf('debug=1')>-1){
				Lizard.tourAppBaseUrl = '@Url.Content("~/")';
			}
			else if (location.href.indexOf('localhost')>-1) {
			    Lizard.tourAppBaseUrl = "";//本地 VS环境
			}
			else {
				var _url = '@ConfigurationManager.AppSettings["tourAppBaseUrl"]'||'http://webresource.c-ctrip.com/resh5tourapponline/';
				Lizard.tourAppBaseUrl = _url+(_url.indexOf('http')>-1 ? slot+'/' : '');
			}
		}
		document.write(
		'<link rel="stylesheet" type="text/css" href="'+ Lizard.tourAppBaseUrl +'resource/res/style/detail_v6_6.css?v='+ tour_version +'">\
		<link rel="stylesheet" type="text/css" href="'+ Lizard.tourAppBaseUrl +'resource/res/style/process_v6_6.css?v='+ tour_version +'">\
		<link rel="stylesheet" type="text/css" href="'+ Lizard.tourAppBaseUrl +'resource/res/style/gv_tour.css?v='+ tour_version +'">\
		<script src="'+ Lizard.tourAppBaseUrl +'resource/tourconfig.js?v='+ tour_version +'" onerror="showNetWorkError()"><\/script>'
		);
		if(isInApp){
		//错误提示
		window.showNetWorkError=function(){
		   setTimeout(function(){
			   window.CtripPage&&CtripPage.app_hide_loading_page();
			   window.CtripBar&&setNativeHeader();
			   var errTpl='<div class="head-warning" style="padding-top:1px"><div class="head-warning-padding"><div class="head-warning-content"><div class="cui-load-fail cui-text-center"><div class="cui-load-error"><div class="cui-i cui-wifi cui-fail-icon"></div></div><p class="cui-gray">网络不给力</p><button id="js_retry" type="button" class="cui-btns-retry">请重试</button></div></div></div></div>';
			   var tevn = theTourLocalStorage.getItem('isPreProduction');
			   if(tevn == 2 || tevn == 0){
					window.location.reload();
					return;
			   }
			   $("#main .main-viewport").html(errTpl);
			   $("#js_retry").on("click",function(){
				   $("#main .main-viewport").html("");
				   window.CtripPage&&CtripPage.app_show_loading_page();
				   window.location.reload();
			   })
		   },2000)
		};
		//设置头
		function setNativeHeader(){
		   if(!window.location.hash||window.location.hash.match((/\w+/g))[0]=="vacations"){
			   var nav_json = {
				   "center": [{"tagname": "title", "value":"旅游"}]
			   }
			   var json_str = JSON.stringify(nav_json);
			   window.CtripBar.app_refresh_nav_bar(json_str);
			}
		}

		//进入页面先尝试设置头部,加快显示速度
		setNativeHeader();
		window.CtripPage&&CtripPage.app_show_loading_page();
		}
	})();
    </script>

</body>
</html>
